<html>
	<body style="font-size: 12px; font-family: verdana;">
		
		<div>
			<p>
				$user.fullName,
			</p>
			
			<p>
				Hello from ScoutTrax.org!
			</p>
			
			<p>
				Your login name is: $user.username<br /><br />  
				To reset your password just <a href="http://www.ScoutTrax.org/resetPassword.html?userId=$userIdKey&passcode=$passcode">click here</a> 				
			</p>						
		</div>		
	</body>
</html>


