<html>
	<body style="font-size: 18px; font-family: verdana; width:700px;">
		
		<table>
			<tr>
				<td>
					$user.fullName sent this message.
				</td>
			</tr>	
			<tr>
				<td>
					<p>$feedback</p>
				</td>	
				<td style="padding: 20px;margin:20px 0 0 20px; background: #D44B38; border: 1px solid #C43B28; color: #FFF; font-weight: bold;">
					<a style="text-decoration: none;color:white;" href="http://scouttrax.org/">
					Click here to go take a look.</a>
				</td>
			</tr>
		</table>
	</body>
</html>