<html>
	<body style="font-size: 18px; font-family: verdana; width:700px;">
		
		<table>
			<tr>
				<td>
					$user.firstName,
				</td>
				<td>&nbsp;</td>
			</tr>	
			<tr>
				<td>
					<p>$scout.fullName is turning $scout.age on $scout.birthday.</p>
					<p>Don't forget to wish him Happy Birthday.</p>
					<p>Now would be a good time to review his account and help him reach his goals at http://www.scouttrax.org</p> 
				</td>	
				<td style="padding: 20px;margin:20px 0 0 20px; background: #D44B38; border: 1px solid #C43B28; color: #FFF; font-weight: bold;">
					<a style="text-decoration: none;color:white;" href="http://scouttrax.org/login.html">
					To review his progress click here</a>
				</td>
			</tr>
		</table>
		<a href="http://www.scouttrax.org/login.html">		
			<img alt="Click here to go to the scouttrax.org login page" src="http://www.scouttrax.org/images/scouttraxPatch.png">
		</a>
	</body>
</html>