<html>
	<body style="font-size: 18px; font-family: verdana; width:700px;">
		<table>		
			<tr>
				<td colspan='2'>$user.fullName has just updated $fullName records in ScoutTrax. Please review the following changes by going to ScoutTrax.org</td>
			</tr>
				#if($passedOffMap.partialAward)
					<tr><td>$fullName has been working on requirements for: </td></tr>
					#foreach( $name in $passedOffMap.partialAward )
						<tr>
							<td></td>
							<td>$name</td>
						</tr>
					#end
				#end
				#if($passedOffMap.award)
					<tr><td>$fullName has finished: </td><td>&nbsp;</td></tr>
					#foreach( $name in $passedOffMap.award )
						<tr>
							<td></td>
							<td>$name</td>
						</tr>
					#end
				#end
				#if($passedOffMap.service)
					<tr><td>$fullName has been working on service: </td><td>&nbsp;</td></tr>
					#foreach( $name in $passedOffMap.service )
						<tr>
							<td></td>
							<td>$name</td>
						</tr>
					#end
				#end
				#if($passedOffMap.camp)
					<tr><td>$fullName has been working on camping: </td><td>&nbsp;</td></tr>
					#foreach( $name in $passedOffMap.camp )
						<tr>
							<td>$name</td>
						</tr>
					#end
				#end
				#if($passedOffMap.leadership)
					<tr><td>$fullName has been working on leadership: </td><td>&nbsp;</td></tr>
					#foreach( $name in $passedOffMap.leadership )
						<tr>
							<td>$name</td>
						</tr>
					#end
				#end
			<tr>
				<td colspan='2' style="padding:20px">	
					<p style="color: red;">To verify the scout record is correct, click <a href="http://www.scouttrax.org/login.html">here</a> or on the image below to login.</p>
					<a href="http://www.scouttrax.org/login.html">		
						<img alt="Click here to go to the scouttrax.org login page" src="http://www.scouttrax.org/images/scouttraxPatch.png">
					</a>
				</td>
			</tr>						
			<tr>
				<td colspan='2' style="padding:20px">If you're not able to access ScoutTrax, or would like to provide feedback please send us a message at www.facebook.com/ScoutTrax
				</td>	
			</tr>
		</table>
	</body>
</html>