/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TableTools styles
 */
.TableTools {
	left:130px;
	position:absolute;
}

.TableTools_button {
	position: relative;
	float: left;
	margin-right: 3px;
}

.TableTools_csv {
	background: url(../images/ico_file_csv.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_csv_hover {
	background: url(../images/ico_file_csv.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}